.nav-bar-fixed-wrapper{
	width: 100%;
	position: fixed;
	height: 70px;
	background: white;
	top: 0;
	border-bottom: 2px rgba(0, 0, 0, .25) solid;

	.nav-rel-wrap{
		position: relative;
		width: 85%;
		height: 100%;
		display: flex;
    	align-items: center;
    	justify-content: space-between;
    	max-width: 1400px;
    	margin-left: auto;
    	margin-right: auto;

    	a{
    		height: 75%;
    		transition: .15s all;

			img{
				height: 100%;
			}

			&:hover{
				height: 77%;
 			}
    	}


		ul{
			font-family: $lato;
			font-weight: 700;
			font-size: 16px;
			text-transform: uppercase;
     		letter-spacing: 0.063em;
     		list-style-type: none;
     		display: flex;
    		justify-content: space-between;
    		width: 400px;
    		float: right;
    		margin-right: 35px;

     		li{
     			// transition: 1s all;
     			cursor: pointer;
     			border-bottom: none;

     			a{
     				text-decoration: none;
     				color: $black;
     				transition: .25s all;
     				padding-bottom: 27px;
     				border-bottom: 2px solid rgba(0,0,0,0);

     				&:hover{
						border-bottom: 2px solid $blue;
	    				color: $blue;
	     			}
     			}
     		}
		}

		.icon-wrapper{
			a{
				color: black;
				font-size: 20px;
    			padding: 0 5px;
    			transition: .25s all;

    			&:hover{
    				color: $purple;
     			}
			}
		}
	}
}